<!DOCTYPE html>
<html>
<head>
    <title>istio-ui</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
</style>
<body>
<div id="app">
    <el-container style="border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1', '3']">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>k8s</template>
                        <el-menu-item index="1-1" default-active>Deployment</el-menu-item>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>istio</template>
                    <el-menu-item index="2-1"><a href="/static/gateway.html">GateWay</a></el-menu-item>
                        <el-menu-item index="2-2"><a href="/static/serviceentry.html">ServicEentry</a></el-menu-item>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-main>

            <el-row>

                <el-col :span="3"><div class="grid-content bg-purple"></div>
                    <el-select v-model="search_namespace" placeholder="请选择">
                        <el-option
                                v-for="item in namespace_options"
                                :key="item"
                                :label="item"
                                :value="item">
                        </el-option>
                    </el-select>
                </el-col>&nbsp;

                <el-col :span="6" :offset="1">
                    <el-input v-model="search_name" placeholder="name"></el-input>
                </el-col>&nbsp;

                <el-col :span="3" :offset="1">
                    <el-button type="primary" @click="search">搜索</el-button>
                </el-col>

            </el-row>

            <el-row>
                <el-table :data="tableData">
                    <el-table-column prop="name" label="名称">
                    </el-table-column>
                    <el-table-column prop="namespace" label="空间">
                    </el-table-column>
                    <el-table-column prop="version" label="版本">
                    </el-table-column>
                    <el-table-column prop="is_inject"  :formatter="getIsInject" label="已注入">
                    </el-table-column>
                    <el-table-column prop="create_time" label="创建时间">
                    </el-table-column>
                    <el-table-column label="操作" width="260px">
                        <template scope="scope">
                            <el-button v-if="scope.row.is_inject == 0" size="small" @click="handleInject(scope.row)">注入</el-button>
                            <el-button size="small" @click="getIstioConfig(scope.row)">istio配置</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <div style="float: right;">
                        <el-pagination :current-page.sync="pagination.currentPage" :page-size="pagination.pageSize" :total="pagination.total" @current-change="getList" layout="total, prev, pager, next"></el-pagination>
                    </div>
                </el-col>
            </el-row>

        </el-main>


        <el-dialog title="istio配置" :visible.sync="is_show_istio_config" :close-on-click-modal="false"
                   :close-on-press-escape="false">
            <el-input
                    type="textarea"
                    :rows="25"
                    placeholder="请输入内容"
                    v-model="istio_config">
            </el-input>
            <br>
            <el-button size="small" @click="sureSave()">保存</el-button>
            <el-button size="small" @click="delIstioConfig()">清空</el-button>

        </el-dialog>

        <el-dialog
                title="提示"
                :visible.sync="sure_inject"
                width="30%">
            <span>服务会被重新部署，确认？</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="sure_inject = false">取 消</el-button>
                <el-button type="primary" @click="saveIstioConfig()">确 定</el-button>
            </span>
        </el-dialog>

    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>

    Vue.http.options.emulateJSON = true;
    Vue.http.interceptors.push(function (request, next) {
        var loading = this.$loading({lock: true, fullscreen: true});

        next(function (response) {
            loading.close();

            if (typeof response.body === 'object') {
                var body = response.body;

                if (body.code === 0) {
                    return response;
                } else {
                    this.$message({
                        message: body.msg || '服务器异常！',
                        type: 'warning'
                    });

                    throw response;
                }
            } else {
                this.$message({
                    message: '网络异常！',
                    type: 'warning'
                });

                throw response;
            }
        });
    });

    new Vue({
        el: '#app',
        data: {
            tableData: [],
            is_show_istio_config: false,
            sure_inject: false,
            istio_config: "",
            handle_name: "",
            handle_namespace: "",
            search_name: "",
            search_namespace: "default",
            pagination: {
                currentPage: 1,
                pageSize: 10,
                total: 0
            },
            namespace_options: []
        },
        methods: {
            getIsInject: function (row) {
                return row.is_inject == 1 ? '是' : '否';
            },
            handleInject: function (row) {
                console.log(row)
                this.$http.post('/deploy/inject?name='+ row.name + '&namespace='+row.namespace).then(function (resp) {
                    if (resp.body.code === 0) {
                        this.$message({
                            message: '注入成功',
                            type: 'success'
                        });
                        this.getList();
                    }else{
                        this.$message({
                            message: resp.body.msg,
                            type: 'error'
                        });
                    }
                });
            },
            getIstioConfig: function (row) {
                var _self = this;
                _self.is_show_istio_config = true;
                _self.handle_name = row.name;
                _self.handle_namespace = row.namespace;
                this.$http.get('/istio_config/get?name='+ _self.handle_name + '&namespace=' + _self.handle_namespace)
                        .then(function (resp) {
                            if (resp.body.code === 0) {
                                _self.istio_config = resp.body.data
                            }else{
                                this.$message({
                                    message: resp.body.msg,
                                    type: 'error'
                                });
                            }
                        });
            },
            sureSave: function () {
                var _self = this;
                _self.sure_inject = true
            },
            saveIstioConfig: function () {
                var _self = this;
                _self.sure_inject = false
                _self.is_show_istio_config = true;
                if(_self.istio_config == ""){
                    this.$message({
                        message: "请填写配置信息",
                        type: 'error'
                    });
                }else {
                    this.$http.post('/istio_config/save',
                            {name: _self.handle_name, namespace: _self.handle_namespace, config: _self.istio_config})
                            .then(function (resp) {
                                if (resp.body.code === 0) {
                                    this.$message({
                                        message: "保存成功",
                                        type: 'success'
                                    });
                                } else {
                                    this.$message({
                                        message: resp.body.msg,
                                        type: 'error'
                                    });
                                }
                            });
                }
            },
            delIstioConfig:function () {
                var _self = this;
                _self.is_show_istio_config = true;
                this.$http.post('/istio_config/del', {name: _self.handle_name, namespace: _self.handle_namespace, config: _self.istio_config})
                        .then(function (resp) {
                            if (resp.body.code === 0) {
                                _self.istio_config = ""
                                this.$message({
                                    message: "删除成功",
                                    type: 'success'
                                });
                            }else{
                                this.$message({
                                    message: resp.body.msg,
                                    type: 'error'
                                });
                            }
                        });
            },
            getList: function () {
                var _self = this;
                this.$http.get('/deploy/list?' , {params: {page: _self.pagination.currentPage,
                        page_size: _self.pagination.pageSize,
                        name: _self.search_name,
                        namespace: _self.search_namespace}}).then(function (resp) {
                    if (resp.body.code === 0) {
                        _self.tableData = resp.body.data.list;
                        _self.pagination.total = resp.body.data.total;
                    }else{
                        this.$message({
                            message: resp.body.msg,
                            type: 'error'
                        });
                    }
                });
            },
            getWorkNameSpace: function () {
                var _self = this;
                this.$http.get('/deploy/getworknamespaces?').then(function (resp) {
                    if (resp.body.code === 0) {
                        _self.namespace_options = resp.body.data;
                    }else{
                        this.$message({
                            message: resp.body.msg,
                            type: 'error'
                        });
                    }
                });
            },
            search:function () {
                this.getList();
            }
        },
        mounted: function () {
            this.getList();
            this.getWorkNameSpace();
        }
    })
</script>
</html>