<div>
    <el-main>
        <el-form label-width="100px" class="demo-ruleForm" style="width:600px;">
            <el-form-item label="namespace">
                <el-select v-model="search_namespace" @change="getIstioConfig" placeholder="请选择">
                    <el-option
                            v-for="item in namespace_options"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="配置" >
                <el-input type="textarea" :rows="25" :cols="25" v-model="istio_config"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button size="small" @click="saveIstioConfig()">保存</el-button>
                <el-button size="small" @click="delIstioConfig()">清空</el-button>
            </el-form-item>
        </el-form>
    </el-main>

</div>